@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

body {
    background-image: url("/img/bg_pizza.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 7em;
    font-variant: small-caps;
}

h2 {
    font-size: 3em;
}

li {
    list-style-image: url("/img/pizza_icon.png");
    line-height: 30px;
}

#foaldal p {
    line-height: 2em;
}
#foaldal p::first-line {
    text-indent: 15px;
}

.pizzatipus {
    color: #414a04;
    font-weight: bold;
    text-transform: uppercase;
}

a:link {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-variant: small-caps;
}

a:hover {
    background-color: black;
}

#alert {
    display: none;
}

@media screen and (max-width: 768px) {
    h1 {
        height: 50px;
    }
}